<ng-template #loader>
  <org-loader class="mb-5"></org-loader>
</ng-template>
<ng-container *ngIf="!showLoader; else loader">
  <div class="list" *ngIf="getFilteredTodos()?.length > 0; else noTodos">
    <!-- <div class="list"> -->
    <div class="todo-con">
      <div *ngFor="let todo of getFilteredTodos()" class="todo-li">
        <ng-container>
          <span
            (click)="markCompleted(todo)"
            [class.active-check]="todo.complete"
            class="check"
          >
            <img src="assets/img/icon-check.svg" alt=""
          /></span>
          <p [class.completed]="todo.complete">{{ todo.name }}</p>
          <button (click)="editTodo(todo)" class="edit">
            <img src="assets/img/edit.png" alt="" />
          </button>
          <button (click)="showModal(todo)" class="close">
            <img src="assets/img/icon-cross.svg" alt="" />
          </button>
          <span
            (click)="pinnedTodo(todo)"
            [class.active-pin]="todo.pin"
            class="pin fa fa-star"
          ></span>
        </ng-container>
      </div>
    </div>
  </div>
</ng-container>
<div class="info">
  <p class="left">{{ todos?.length }} items left</p>
  <div class="choice">
    <p [class.active]="filter === 'all'" (click)="setFilter('all')">All</p>
    <p [class.active]="filter === 'active'" (click)="setFilter('active')">
      Active
    </p>
    <p [class.active]="filter === 'completed'" (click)="setFilter('completed')">
      Completed
    </p>
  </div>
  <p class="clear" (click)="clearCompleted()">Clear Completed</p>
</div>
<div class="modal-overlay" *ngIf="isModalVisible">
  <div class="modal-body">
    <p>Are you sure you want to delete?</p>
    <div class="modal-btns">
      <button (click)="hideModal()">Cancel</button>
      <button (click)="confirmDelete()">Delete</button>
    </div>
  </div>
</div>

<ng-template #noTodos>
  <div class="no-todos-message">
    <p>No todos available.</p>
  </div>
</ng-template>
